 @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&display=swap'); 

 /* common style and utilities */
 body{
    font-family: 'Open Sans', sans-serif;
    background-color:rgb(145, 110, 145);
 }
 main{
    display: flex;
    flex-direction: column;
    align-items: center;
 }
 .container{
    background-color:#FFFFFF ;
    width: 870px;
    padding: 30px;
    margin-top: 21px;
 }
 hr{
    border: 1px solid #D1D1D1;
    margin-bottom: 26px;
 }


 /* ------------
    Header option
------------------- */
.header{
    background-color: #FFC014;
    width: 1440px;
    height: 94px;
    display: flex;
    justify-content: space-between;
}  

.my-head{
    
   display: flex;
   gap: 40px;
   padding: 30px 0px 15px 240px;
    
    
   }
   .my-head img{
    width: 45px;
    height: 50px;
   }
  
   .second{
    margin-right: 335px;
    margin-top: 22px;
    display: flex;
    gap: 50px;
   }


/* top players style */

.top-players{
    margin-bottom: 30px;
}
.section-title{
    color: #562EFF;
    font-size: 25px;
    margin-top: 3px;
}

.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 30px;
}
.player img{
    width: 56px;
    height: 56px;
}
.player{
    display: flex;
    align-items: center;
}
.player-name{
    margin-left: 16px;
    font-size: 18px;
}

/* -------------
top blog styles====
-----------------*/


.blogs{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-row-gap: 26px;
}
.blog{
    display: flex;
}
.blog .thumbnail img{
    width: 177px;
    height: 117px;
}
.blog-info{
    margin-left: 16px;
}
.blog-title{
    font-size: 20px;

}
.blog-author{
    color: #9F9F9F;
   font-size: 16px;

}
.blog-author a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 800px;
    color:#562EFF
}
/*----------------
 courses style
----------=----- */

.courses{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 24px;
}
.course .course-banner img{
    width: 224px;
height: 104px;
}
.course-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.fa-star{
    font-size: 12px;
}
   
.fa-star.filled{
    color: #FFC014;
}
.fa-star.emty{
    color:gray;
}
.course-duraton{
    background-color: orangered;
    border: 1px solid blue;
    border-radius: 5px;
}

.thumbnai{
    display: flex;
    flex-wrap: ;
    -ms-flex-item-align: ;
}

/* ------------
  Media Queery
---------------- */


/*----------------
     mobile screen
 --------------------     */
@media only screen and (max-width:688px) {
  
    
        
    .header{width: 100%;
        height: 100%;
        display: grid;
        grid-template-rows: repeat(1,1fr);
    }
    .my-head{
        display: grid;
        grid-template-rows: repeat(1,1fr);
        padding: 0px;
    }
    .second{
        display: grid;
        grid-template-rows: repeat(1,1fr);
    }
    .container{
        width: 100%;
    }
    .players , .blogs, .courses{
   
   grid-template-columns: repeat(1,1fr);
}
.player, .blog, {
    flex-direction: column;
}
}

/* ------------
  tab screen
--------------- */
@media only screen and (min-width:688px) and (max-width:992px){
   
    .header{width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns;: repeat(2,1fr);
    }
    .my-head{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        padding: 0px;
    }
    .second{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
   
    .container{
        width: 100%;
    }
    .players , .blogs, .courses{
   
   grid-template-columns: repeat(2,1fr);
}
.player, .blog, {
    flex-direction: column;
}
}